#garden-plant-list .card {
    width: 80%;
    margin: 25px auto 25px auto;
    padding: 15px;
    background-color: rgba(215, 240, 215, 0.6);
    border-color: #667836;
    color: black;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.plant-card-top {
    align-self: center;
}

.plant-card-top h5 {
    font-size: 1.1em;
}

h5 span {
    margin-left: 15px;
    color: darkgray;
}

h5 span button {
    margin: -10px;
}

.plant-card-content {
    display: flex;
    font-size: .8em;
}
