.garden-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.garden-detail .card {
    width: 70%;
    margin-top: 35px;
    cursor: pointer;
    background-color: rgba(215, 240, 215, 0.5);
    color: black;
}