/* #welcome-message {
    color: lightgray;
}

.navbar {
    box-shadow: 0 1px 5px #483D03;
    background-color: rgb(66, 78, 36);

}

#logout-btn {
    color: lightgray;
    border-color: #483D03;
}

#logout-btn:hover {
    color: lightgray;
    background-color: #483D03;
    border-color: #483D03;
} */